<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.rmsolution.domain.users.mapper.UsersMapper">

	<resultMap id="subscribedResultMap" type="com.rmsolution.domain.users.dto.Users">
	
	
	<!-- 구독여부 boolean타입으로 맵핑 -->
		<result property="subscribed" column="subscribed" javaType="boolean"/>	
	</resultMap>


	<!-- 회원가입 -->
	<insert id="create" parameterType="Users">
		INSERT INTO users(id, name, password, email)
		VALUES(
		#{id},
		#{name},
		#{password},
		#{email}
		)
	</insert>
	
	<select id = "checkExistId" parameterType="String" resultType="boolean">
		SELECT count(*)
		FROM users
		WHERE id = #{id}
	</select>
	
	<!-- id에 맞는 회원정보 -->
	<select id="findById" resultType="Users">
			SELECT
			id, name,password, email, subscribed
			FROM users
			WHERE id = #{id} 
		</select>

	<!-- 로그인 -->
	<select id="findByIdAndPasswd" resultType="Users">
		SELECT
		id, name,password, email, subscribed
		FROM users
		WHERE id =
		#{id} AND password = #{password}
	</select>

	<!-- 구독여부를 변경(구독 신청시) -->
	<update id="updateSubscribed" parameterType="String">
		UPDATE users
		SET subscribed = '1'
		WHERE id = #{id}
	</update>

	<!-- 아이디찾기 기능(이름과 이메일) -->
	<select id="findUser" parameterType="Users">
		SELECT id 
		FROM users
		WHERE name=#{name} AND email=#{email}
	</select>
</mapper>