<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV2 :: setContent(~{this :: title}, ~{this :: content})}">

	<title th:fragment="title">:: 구독 신청 ::</title>

	<div class="container-fluid" th:fragment="content">



 <div class="container">
        <h1 th:text="${dashboardInfo.userId} + '님의 구독 Dashboard'">User Dashboard</h1>

        <div class="subscription-card">
            <h3>User Information</h3>
            <table class="subscription-table">
                <tr>
                    <th>서비스 타입</th>
                    <td th:text="${dashboardInfo.serviceType}"></td>
                </tr>
                <tr>
                    <th>스토리지</th>
                    <td th:text="${dashboardInfo.storageCapacity} + 'TB'"></td>
                </tr>
                <tr>
                    <th>공유 인원</th>
                    <td th:text="${dashboardInfo.userCount} + '명'"></td>
                </tr>
                <tr>
                    <th>구독 신청기간</th>
                    <td th:text="${dashboardInfo.subscriptionPeriod} + '일'"></td>
                </tr>
                <tr>
                    <th>구독 시작일</th>
                    <td th:text="${dashboardInfo.subscriptionDate}"></td>
                </tr>
                 <tr>
                    <th>잔여 구독일(일)</th>
                    <td th:text="${dashboardInfo.remainingDays} + '일'"></td>
                </tr>
            </table>
        </div>

        <!-- Add other sections as needed -->

    </div>



		</div>





</th:block>

</html>