<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title>아이디 찾기</title>
<link rel="stylesheet" href="/css/finduser.css">
<script defer src="/js/finduser.js"></script>
</head>
<body>
	<div id="findIdPopup" class="popup">
		<h1>아이디 찾기</h1>
		<div id="findForm">
			<p>이름과 이메일을 입력하세요.</p>
			<div id="find-inner-form">
				<div class="input-box">
					<input type="text" id="name" name="name" placeholder="이름" required>
				</div>
				<div class="input-box">
					<input type="email" id="email" name="email" placeholder="이메일" required>
				</div>
			</div>
			<button id="findIdButton" onclick="findUser()">아이디 찾기</button>
			<div class="alert-container">
				<p class="alertText"></p>
			</div>
		</div>
	</div>
</body>
</html>