<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV2 :: setContent(~{this :: title}, ~{this :: content})}">

	<title th:fragment="title">:: 구독 신청 ::</title>

	<div class="container-fluid" th:fragment="content">

		<div class="container">

			<h1>RM 솔루션 신청 페이지</h1>
			<h3>정보를 입력 후 구독을 해주세요!</h3>
			<h3>사용중인 멤버십의 정보는 대시보드에서 확인이 가능합니다.</h3>

			<hr>

			<div class="subscription-options" id="subscriptionOptions">

				<div class="subscription-card"
					th:onclick="selectPlan([[${planList.name}]],[[${planList.cost}]])"
					th:each="planList, iterStat : ${planList}">
					<!--     <form th:action="@{/subscription}" method="post" th:object="${subscription}" th:id="'subscriptionForm_' + ${planList.solutionId}" > -->

					<input type="hidden" th:if="${session.loginUser != null}"
						th:value="${session.userId}" th:name="userId">

					<table class="subscription-table">
						<thead>
							<tr>
								<th th:text="${planList.name}" th:value="${planList.name}">Basic</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="first-td">월 구독료</td>
								<td class="second-td" th:utext="'$' + ${planList.cost}">월
									구독료</td>
							</tr>

							<tr>
								<td class="first-td">사용 인원</td>
								<td class="second-td"
									th:utext="'최대' + ${planList.userCountMax} + '명'">최대 사용인원</td>
							</tr>
							<tr>
								<td class="first-td">스토리지</td>
								<td class="second-td"
									th:utext="${planList.storageCapacityMin} + '~' + ${planList.storageCapacityMax} + '(TB)'">사용
									가능 스토리지 용량</td>
							</tr>
					
						</tbody>
					</table>
				</div>
			</div>
			<div id="selectedPlanInfo" class="selected-plan-info">
				<h3>
					선택한 플랜: <span id="selectedPlan">없음</span>
				</h3>
				<h3>
					결제 금액: $<span id="selectedPrice">0</span>
				</h3>


				<button class="open-popup-btn" id="openPopupBtn">구독 정보 입력</button>
			</div>
			<!-- </form> -->
		</div>


		<div class="overlay" id="overlay"></div>

		<div class="popup" id="popup">
			<span class="close-btn" id="closeBtn">&times;</span>
			<h2>구독 정보 입력</h2>
			<form id="subsForm" th:action="@{/subscription}" method="post"
				th:object="${subscription}">
				<div id="form-container">
		<div id="required-info">
				<!-- 필수정보 시작 -->
				<h3>필수 정보</h3>
					<input type="hidden" id="userId" th:if="${session.loginUser != null}" th:value="${session.userId}" th:name="userId"> 
					 <label for="solutionSelect">플랜 선택</label> 
					<select id="solutionSelect" required th:field="*{solutionId}">
						<option value="1">Basic</option>
						<option value="2">Standard</option>
						<option value="3">Premium</option>
					</select>
					 <label>사용 인원</label>
					<select th:field="*{userCount}" required>
						<option value="1">1명</option>
						<option value="2">2명</option>
						<option value="3">3명</option>
					</select> 
					 <label>저장 공간</label> 
					<select th:field="*{storageCapacity}" required>
						<option value="1">1TB</option>
						<option value="3">3TB</option>
						<option value="10">10TB</option>
					</select> 
					 <label>구독 기간</label> 
					 <select th:field="*{subscriptionPeriod}" required>
						<option value="30">1개월</option>
						<option value="90">3개월</option>
						<option value="180">6개월</option>
						<option value="365">12개월</option>
					</select>
			</div>		
				<!-- 필수정보 끝 -->
				 <div id="additional-info">
					<!-- 선택정보  시작-->
					<h3>선택 정보</h3>
					<label for="companyName">회사명</label>
					 <input type="text" id="companyName" th:field="*{companyName}"> 
					<button type="button" class="addressBtn" onclick="openDaumAddressPopup()">주소 검색</button>
						<input type="text" id="address" th:field="*{address}">
						<label for="detailAddress">상세 주소</label> 
						<input type="text" id="detailAddress" th:field="*{detailAddress}">

					<label for="phoneNumber">전화번호</label>
					 <input type="tel" id="phoneNumber" th:field="*{phoneNumber}">
					<!-- 선택정보  끝-->
					</div>
				</div>
				<!-- 제출버튼 -->
				<div>
				<button type="button" id="cancelBtn">팝업닫기</button>
				<button type="submit" class="submitBtn">구독하기</button>
				</div>
			</form>
		</div>

	</div>





</th:block>

</html>