<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.rmsolution.domain.subscription.mapper.SubscriptionMapper">

<!-- 구독 신청 시 데이터 삽입 -->
	<insert id="setData" parameterType="Subscription">
		INSERT INTO subscription(subscription_id,
								 userid,
							 	 solution_id,
								 service_type,
								 storage_capacity,
								 user_count,
								 subscription_period,
								 company_name,
								 address,
								 detail_address,
								 phone_number
								)
		VALUES(subscription_id_seq.NEXTVAL,
               #{userId},
               #{solutionId},
               #{serviceType},
               #{storageCapacity},
               #{userCount},
               #{subscriptionPeriod},
               #{companyName},
               #{address},
               #{detailAddress},
               #{phoneNumber}
             )
	</insert>
	
	<!-- boolean 처리 위한 resultMap -->
	<resultMap id="checkUserIdExistsResultMap" type="java.lang.Boolean">
    	<result column="RESULT" property="value" />
	</resultMap>
	
	
	<!-- id가 존재하는지 확인 -->
	<select id="checkId" resultType="boolean" parameterType = "Subscription">
		select CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS result
		from subscription
		where userid = #{userId}
	</select>


	<!-- 대시보드 들어갈 때 정보 -->
	<select id="isSubscribed" resultType="Subscription" parameterType="String">
		select subscription_id,
			   userid,
			   solution_id,
			   service_type,
			   storage_capacity,
			   user_count,
			   subscription_period,
			   TO_CHAR(subscription_date, 'yyyy"년"MM"월"dd"일"') as subscription_date,
			   NVL(company_name,'회사명 미입력'),
			   NVL(address,'주소 미입력'),
			   NVL(detail_address,'상세주소 미입력'),
			   NVL(phone_number,'전화번호 미입력')
		from subscription subs
			join users u
				on subs.userid = u.id
					where subs.userid = #{userId} and u.subscribed = '1'
	</select>


<!-- 
	<update id="update" parameterType="Subscription">
		UPDATE member
		SET passwd = #{passwd}, email = #{email}
		WHERE id = #{id}
	</update>
 -->

</mapper>