.container-fluid {
	min-height: 100%;
	position: relative;
	padding-bottom: 60px;
}

footer {
	bottom: 0;
}

html, body {
	height: 100%;
}

.dashboard-h1 {
	margin: 0 auto;
	width: 50%;
	box-shadow: 1px 2px 5px 3px rgba(144, 139, 139, 0.8);
	padding: 3px;
	border-radius: 4px;
}

.dashboard-card hr {
	width: 80%
}

.dashboard-card {
	width: 100%;
}

.duration-guide {
	text-align: center;
	margin: 0 auto;
	border-top: 3px double black;
	padding: 10px;
	width: 78%;
	font-weight: 500;
	font-size: 1.2em;
}

.dashboard-table {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-spacing: 0 10px;
}

.dashboard-table th, .dashboard-table td {
	height: 3em;
	border-radius: 4px;
}

.dashboard-table th {
	font-size: 1.1em;
	background: #333333af;
	color: #fff;
	box-shadow: 0 0 10px 5px rgba(144, 139, 139, 0.8);
}

.dashboard-table td {
	font-size: 1.1em;
	font-weight: 500;
	box-shadow: 1px 2px 5px 3px rgba(144, 139, 139, 0.8);
}

.duration-btns {
	margin-bottom: 10px;
	text-align: center;
}

#durationBtn {
	display: block;
	margin: 0 auto;
	width: 120px;
	padding: 10px;
	background: rgb(34, 179, 111);
	color: #fff;
}

#durationBtn:active {
	background: #111;
	box-shadow: 1px 2px 5px 3px rgba(144, 139, 139, 0.8);
}

.duration-btns button {
	font-size: 1.1em;
	width: 80px;
	padding: 5px;
	text-align: center;
}

.durationDays {
	text-align: center;
}

.duration-btns button:hover {
	background: rgb(115, 117, 133);
	color: #fff;
	box-shadow: 1px 2px 5px 3px rgba(144, 139, 139, 0.8);
}

.duration-btns button.selected {
	background-color: #222;
	color: #fff;
	box-shadow: 1px 2px 5px 3px rgba(144, 139, 139, 0.8);
}